// Заголовки, общие БЄМ блоки и проче...
.logo {
    max-width: rem(191);
    min-width: rem(150);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &__image {
        width: 100%;
    }
}

.background-element {
    display: inline-block;
    position: absolute;
    &_position_xy_0-50 {
        left: 0;
        bottom: -90%;
    }
    &_position_xy_55-100 {
        left: 50%;
        bottom: -150%;

        // top: 50;
    }
    &_position_xy_100-20 {
        top: -100%;
        left: 20%;
    }
    &_position_xy_0-0 {
        top: -20px;
        left: 80px;
    }
    &__body {
        position: relative;
        z-index: -1;
    }

    &__item {
        display: inline-block;
    }
    &__item-shape {
        &_zero {
            position: relative;
            font-weight: 700;
            @include adaptiveValue("font-size", 600, 500);
            background-color: #2aa5a0;
            background-image: linear-gradient(155.22deg, #4fffca -18.55%, #1e3a37 79.21%, #191a1a 110.38%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &_procent {
            @include adaptiveValue("font-size", 255, 200);
            font-weight: 700;
            background: linear-gradient(321.21deg, #17e5ce 6.42%, #4fffca 67.35%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            top: 35%;
            left: 50%;
        }
    }
    &__item-shadow {
        width: 100%;
        background: rgba(79, 192, 255, 0.15);
        filter: blur(250px);
        position: absolute;
        border-radius: 50%;
        &_1 {
            max-width: rem(522);
            height: rem(522);
            top: 0;
            left: 25%;
        }
        &_2 {
            width: rem(585);
            height: rem(467);
        }
    }
    &__item-image {
        width: rem(777);
        &_2 {
            width: rem(333);
            height: auto;
        }
        // position: absolute;
        // top: 0;
        // left: 0;
    }
}

.button-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $mainColorGreen;
    border-radius: rem(10);
    width: 100%;
    &__text {
        font-weight: 700;
        font-size: rem(14);
        line-height: math.div(17, 14);
        text-align: center;
        text-transform: uppercase;
        color: #192227;
    }
}

.title {
    font-weight: 700;
    @include adaptiveValue("font-size", 52, 45);
    line-height: math.div(63, 52);
    text-transform: uppercase;
    color: $mainColorGrey;
}
