// Заголовки, общие БЄМ блоки и проче...
.logo {
    max-width: rem(191);
    min-width: rem(150);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &__image {
        width: 100%;
    }
}
