//====================================================================================================
.page {
    &__first-screen {
        padding-top: rem(100 + 270);
        @include adaptiveValue("padding-bottom", 281, 150);
    }
}
.first-screen {
    min-height: rem(100);
    &__container {
        max-width: rem(1276);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: em(35, 52);
        }
    }

    &__button {
        max-width: rem(181);
        height: rem(44);
    }
    &__bg-element {
    }
}

.page {
    &__section-2 {
        background-image: url("@img/home/section-2-bg.png");
        background-repeat: no-repeat;
        background-position: left center;
        @include adaptiveValue("padding-top", 208, 150);
        @include adaptiveValue("padding-bottom", 127, 100);
    }
}
.section-2 {
    &__container {
        max-width: rem(1574);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__content {
        flex: 0 1 rem(864);
        text-align: center;
        position: relative;
    }

    &__description {
        font-weight: 400;
        font-size: rem(26);
        line-height: math.div(30, 26);
        color: #ffffff;
        &:not(:last-child) {
            margin-bottom: em(64, 26);
        }
    }
    &__button {
        max-width: rem(341);
        height: rem(49);
    }
}
.first-screen {
    &__button {
    }
}
.button-primary {
    &__text {
    }
}

//====================================================================================================
