//====================================================================================================
.page {
    &__first-screen {
        padding-top: rem(10);
        @include adaptiveValue("padding-bottom", 157, 80);
    }
}
.first-screen {
    min-height: rem(100);
    &__container {
        max-width: rem(1276);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__background-block {
        top: 0;
        right: 0;
    }
    &__zero-block {
        margin-right: rem(100);
        @media (max-width: $mobile) {
            margin-right: 0;
        }
    }
}

.page {
    &__section-2 {
        background-image: url("@img/home/section-2-bg.png");
        background-repeat: no-repeat;
        background-position: left center;
        @include adaptiveValue("padding-top", 208, 92);
        @include adaptiveValue("padding-bottom", 127, 589);
        @media (max-width: $mobile) {
            background-position: left bottom;
            background-size: 850px;
        }
    }
}
.section-2 {
    &__container {
        max-width: rem(1574);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__background-block {
    }
    &__content {
        flex: 0 1 rem(864);
        text-align: center;
        position: relative;
    }

    &__description {
        font-weight: 400;
        line-height: math.div(30, 26);
        @include adaptiveValue("font-size", 26, 20);
        color: #ffffff;
        &:not(:last-child) {
            margin-bottom: em(64, 26);
        }
    }
    &__button {
        max-width: rem(341);
        height: rem(49);
    }
}

.button-primary {
    &__text {
    }
}

//====================================================================================================

.page {
    &__products {
        @include adaptiveValue("padding-top", 128, 100);
        @include adaptiveValue("padding-bottom", 85, 148);
    }
}
.products {
    &__top {
        &:not(:last-child) {
            @include adaptiveValue("padding-bottom", 175, 100);
        }
    }
    &__center {
        &:not(:last-child) {
            padding-bottom: rem(70);
            margin-bottom: rem(45);
        }
    }
    &__bottom {
    }
}
.top-products {
    &__container {
    }

    &__heading {
        &:not(:last-child) {
            margin-bottom: em(102, 180);
        }
    }

    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: rem(105);
        // column-gap: rem(30);
        column-gap: rem(30);
        @media (max-width: $mobile) {
            row-gap: rem(30);
        }
        @media (max-width: $mobileSmall) {
            row-gap: rem(50);
        }
    }

    &__item {
        flex: 0 1 30%;
        // min-width: rem(340);
        // min-height: rem(320);
        @for $var from 1 to 6 {
            &:nth-child(#{$var}) {
                animation: slide-in-blurred-top 1.3s cubic-bezier(0.23, 1, 0.32, 1) calc($var / 5) + 1s both;
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 auto;
        }
    }

    &__card {
    }
}

.center-products {
    &__container {
        max-width: rem(1574);
    }

    &__body {
        padding: rem(70) rem(81) rem(38) rem(81);
        background: rgba(56, 92, 95, 0.3);
        box-shadow: inset 1px 1px 4px #4fffca;
        backdrop-filter: blur(20px);
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        @media (max-width: $mobile) {
            padding: rem(43) rem(38);
        }
    }

    &__logo {
        &:not(:last-child) {
            margin-bottom: rem(41);
        }
    }

    &__text {
        font-weight: 400;
        font-size: rem(20);
        line-height: math.div(23, 20);
        text-align: center;
        max-width: rem(541);
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
        @media (max-width: $mobile) {
            font-size: rem(18);
            &:not(:last-child) {
                margin-bottom: rem(43);
            }
        }
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: rem(6);
        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: center;
            row-gap: rem(25);
        }
    }

    &__item {
        flex: 0 1 calc(20% - 60px);
        min-height: rem(165);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:not(:last-child) {
            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                left: calc(100% + rem(14));
                width: rem(1);
                height: percent(123, 165);
                background-color: #fff;
                transform: translateY(-50%);
            }
        }
        @media (max-width: $mobile) {
            flex: none;
            min-height: 0;
            padding-bottom: rem(20);
            &:not(:last-child) {
                &::before {
                    content: "";
                    top: initial;
                    left: 0;
                    bottom: 0;
                    height: rem(1);
                    width: 100%;
                }
            }
        }
    }
    &__item-text {
        font-weight: 400;
        font-size: rem(18);
        line-height: math.div(21, 18);
        text-transform: uppercase;
        color: #ebe7e5;
        @media (max-width: $mobile) {
            font-size: rem(14);
        }
    }
}

.bottom-products {
    &__container {
        max-width: rem(1143);
        text-align: center;
    }

    &__heading {
        font-weight: 700;
        line-height: math.div(49, 43);
        @include adaptiveValue("font-size", 43, 24);
        &:not(:last-child) {
            margin-bottom: em(10, 43);
        }
    }

    &__text {
        font-weight: 400;
        line-height: math.div(31, 26);
        @include adaptiveValue("font-size", 26, 16);
        &:not(:last-child) {
            margin-bottom: em(26, 26);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(36);
            }
        }
    }

    &__text-bold {
        font-weight: 700;
    }

    &__button {
        max-width: rem(233);
        height: rem(44);
    }
}

//====================================================================================================

.page {
    &__separator {
        @include adaptiveValue("padding-top", 40, 0);
        @include adaptiveValue("padding-bottom", 53, 0);
        background-image: url("@img/home/divider-image_bg.png");
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 50% 100%;
    }
}
.separator {
    &__container {
        max-width: rem(1351);
        position: relative;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: rem(123);
        @media (max-width: $tablet) {
            flex-direction: column;
            margin-right: 0;
        }
    }

    &__element {
        font-weight: 700;
        line-height: math.div(219, 189);
        text-transform: uppercase;
        @include adaptiveValue("font-size", 180, 140);
        background: linear-gradient(96deg, #4fffca 11.58%, #17e5d0 45.09%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 67, 48);
        line-height: math.div(68, 67);
        text-transform: uppercase;
        color: #ebe7e5;
        animation: text-flicker-out-glow 2.5s linear infinite both;
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
    }

    &__button {
        height: rem(48);
        max-width: rem(200);
    }
}

//====================================================================================================

.page {
    &__partners {
        @include adaptiveValue("padding-top", 105, 100);
        @include adaptiveValue("padding-bottom", 135, 100);
    }
}
.partners {
    &__container {
        max-width: rem(1790);
        position: relative;
    }
    &__background-block {
        display: flex;
        justify-content: space-between;
    }
    &__heading {
        &:not(:last-child) {
            margin-bottom: em(70, 180);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(63);
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(60px, 200px));
        column-gap: rem(15);
        row-gap: rem(30);
        overflow-x: auto;
        @media (max-width: $mobileSmall) {
            flex-direction: column;
        }
    }

    &__item {
        flex: 0 1 auto;
        text-align: center;
    }

    &__image {
        width: 100%;
    }
    &__bg-element {
    }
}

//====================================================================================================

.page {
    &__section-6 {
        background-color: #192227;
        @include adaptiveValue("padding-top", 65, 121);
        @include adaptiveValue("padding-bottom", 65, 196);
    }
}
.section-6 {
    overflow: hidden;
    &__container {
        max-width: rem(1351);
        padding: 0 rem(30);
        position: relative;
    }

    &__content {
    }
    &__background-block {
        // top: 0;
        // left: 100%;
    }
    &__heading {
        font-weight: 400;
        @include adaptiveValue("font-size", 57, 32);
        line-height: math.div(69, 57);
        text-transform: uppercase;
        color: $mainColorGreen;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        span {
            font-weight: 700;
        }
        &:not(:last-child) {
            margin-bottom: em(33, 57);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: rem(13);
        max-width: rem(605);
        margin-left: percent(38, 1351);
        &:not(:last-child) {
            margin-bottom: rem(77);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(103);
            }
        }
    }

    &__item {
        font-weight: 400;
        font-size: rem(22);
        @include adaptiveValue("font-size", 22, 16);
        line-height: math.div(27, 22);
        text-transform: uppercase;
        color: $mainColorGrey;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: -15px;
            width: rem(5);
            height: rem(5);
            background-color: #fff;
            border-radius: 50%;
            transform: translateY(-50%);
        }
        span {
            font-weight: 700;
        }
    }

    &__button {
        max-width: rem(323);
        height: rem(58);
    }
}

//====================================================================================================
.page {
    &__section-7 {
        @include adaptiveValue("padding-top", 123, 197);
        padding-bottom: rem(80);
        @media (max-width: $mobileSmall) {
            padding-bottom: rem(89);
        }
        background-color: #0e1314;
    }
}
.section-7 {
    &__container {
        max-width: rem(1276);
        position: relative;
        @media (max-width: $mobileSmall) {
            padding: 0 rem(30);
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__image {
        flex: 0 0 auto;
        position: relative;
        z-index: 1;
        display: inline-block;
        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__box {
        flex: 0 1 rem(560);
        text-align: right;
        position: relative;
        z-index: 2;
    }

    &__heading {
        font-weight: 700;
        line-height: math.div(55, 38);
        @include adaptiveValue("font-size", 48, 32);
        &:not(:last-child) {
            margin-bottom: em(10, 48);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
    }

    &__description {
        font-weight: 400;
        font-size: rem(20);
        line-height: math.div(23, 20);
        max-width: em(470, 20);
        margin-left: auto;
        &:not(:last-child) {
            margin-bottom: em(32, 20);
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(18);
            &:not(:last-child) {
                margin-bottom: rem(108);
            }
        }
    }

    &__button {
        max-width: rem(234);
        width: 100%;
        height: rem(55);
        background-color: #0e1314;
        border: 1px solid #fff;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0px 0px 0px auto;
        @media (max-width: $mobileSmall) {
            max-width: none;
        }
        &::before {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            font-size: rem(30);
        }
        span {
            font-weight: 400;
            font-size: rem(12);
            line-height: math.div(12, 12);
        }
    }
}

//====================================================================================================

.page {
    &__section-8 {
        @include adaptiveValue("padding-top", 136, 159);
        @include adaptiveValue("padding-bottom", 100, 303);
        background-image: url("@img/home/section-8_bg.png");
        background-position: right bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #020001;
        @media (max-width: $tablet) {
            background-size: 700px;
        }
        @media (max-width: $mobileSmall) {
            background-size: 500px;
        }
    }
}
.section-8 {
    &__container {
        max-width: rem(1351);
        @media (max-width: $mobileSmall) {
            padding: 0 rem(40);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 1 rem(863);
    }

    &__heading {
        font-weight: 700;
        line-height: math.div(51, 43);
        @include adaptiveValue("font-size", 43, 32);
        &:not(:last-child) {
            margin-bottom: em(15, 43);
        }
    }

    &__description {
        font-weight: 400;
        @include adaptiveValue("font-size", 26, 18);
        line-height: math.div(31, 26);
        &:not(:last-child) {
            margin-bottom: em(30, 26);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(65);
            }
        }
    }

    &__button {
        max-width: rem(233);
        height: rem(44);
        @media (max-width: $mobileSmall) {
            max-width: none;
        }
    }
}

//====================================================================================================

.page {
    &__faq {
        @include adaptiveValue("padding-top", 125, 100);
        @include adaptiveValue("padding-bottom", 80, 50);
    }
}
.faq {
    &__container {
        max-width: rem(1575);
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: rem(19);
        @media (max-width: $mobileSmall) {
            align-items: flex-start;
        }
    }

    &__heading {
        font-weight: 400;
        font-size: rem(50);
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: $mainColorGrey;
    }
    &__spollers {
        width: 100%;
    }
}
.faq-spollers {
    &__item {
        padding-bottom: rem(5);
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
        border-bottom: 1px solid #ebe7e5;
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 26, 16);
        min-height: rem(60);
        line-height: 1;
        color: $mainColorGreen;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: relative;
        width: 100%;
        text-align: left;
        column-gap: rem(10);
        &::before {
            transition: transform 0.4s ease 0s;
            font-size: rem(24);
        }
        &._spoller-active {
            &::before {
                transform: rotate(180deg);
            }
        }
    }

    &__body {
        padding-top: rem(20);
        padding-bottom: rem(26);
    }
    &__description {
        font-weight: 400;
        line-height: 1;
        color: $mainColorGrey;
        @include adaptiveValue("font-size", 26, 14);
    }
}

//====================================================================================================
//====================================================================================================
