//====================================================================================================
.page {
    &__first-screen {
        padding-top: rem(100 + 270);
        @include adaptiveValue("padding-bottom", 281, 150);
    }
}
.first-screen {
    min-height: rem(100);
    &__container {
        max-width: rem(1276);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: em(35, 52);
        }
    }

    &__button {
        max-width: rem(181);
        height: rem(44);
    }
    &__bg-element {
    }
}

.page {
    &__section-2 {
        background-image: url("@img/home/section-2-bg.png");
        background-repeat: no-repeat;
        background-position: left center;
        @include adaptiveValue("padding-top", 208, 150);
        @include adaptiveValue("padding-bottom", 127, 100);
    }
}
.section-2 {
    &__container {
        max-width: rem(1574);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__content {
        flex: 0 1 rem(864);
        text-align: center;
        position: relative;
    }

    &__description {
        font-weight: 400;
        font-size: rem(26);
        line-height: math.div(30, 26);
        color: #ffffff;
        &:not(:last-child) {
            margin-bottom: em(64, 26);
        }
    }
    &__button {
        max-width: rem(341);
        height: rem(49);
    }
}
.first-screen {
    &__button {
    }
}
.button-primary {
    &__text {
    }
}

//====================================================================================================

.page {
    &__products {
        @include adaptiveValue("padding-top", 128, 100);
        @include adaptiveValue("padding-bottom", 175, 100);
    }
}
.products {
    &__container {
    }

    &__heading {
    }

    &__list {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: rem(105);
        // column-gap: rem(30);
    }

    &__item {
        flex: 0 1 33.333%;
        // max-width: rem(360);
    }

    &__card {
    }
}
.heading-2 {
    font-weight: 700;
    font-size: rem(180);
    line-height: math.div(207, 180);
    background: radial-gradient(206.43% 206.43% at 50% -20.36%, #141e1e 0%, #0f1415 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: screen;
    text-align: center;
}
.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    line-height: math.div(41, 36);
    color: #ffffff;
    &__image {
        &:not(:last-child) {
            margin-bottom: rem(25);
        }
    }

    &__heading {
        font-weight: 700;
        font-size: rem(36);
        text-align: center;
        &:not(:last-child) {
            margin-bottom: em(10, 36);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(3);
        max-width: rem(347);
    }

    &__item {
        font-weight: 400;
        font-size: rem(18);
        position: relative;
        &::before {
            content: "";
            display: block;
            width: rem(4);
            height: rem(4);
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: -10%;
            transform: translateY(-50%);
        }
    }
}

//====================================================================================================

//====================================================================================================
