@use "sass:math";

@import "base/mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "fonts/fonts";
@import "fonts/icons";


$fontFamily: "Montserrat";
$fontSize: rem(18); 

$mainColor: #ffffff; 
$mainColorGreen: #4fffca; 
$mainColorGrey: #ebe7e5; 

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1320;
$containerPadding: 60;
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth); 
$tablet: em(991.98); 
$mobile: em(767.98); 
$mobileSmall: em(479.98);

$responsiveType: 1;


@import "base/null";
@import "base/animation";


body {
    background-color: #0e1314;
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    &::-webkit-scrollbar {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background-color: $mainColorGreen;
    }
    .loaded & {
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    > main {
        flex: 1 1 auto;
    }
    > * {
        min-width: 0;
    }
}

@if ($responsiveType==1) {
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

#smooth-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.scroll-content {
    z-index: -1;
}
.page {
    &__first-screen {
        padding-top: rem(10);
        @include adaptiveValue("padding-bottom", 157, 80);
    }
    &__promo {
        @include adaptiveValue("padding-top", 208, 92);
        @include adaptiveValue("padding-bottom", 127, 589);
        background-image: url("@img/home/section-2-bg.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        @media (max-width: $mobile) {
            background-position: left bottom;
            background-size: 850px;
        }
    }
    &__products {
        @include adaptiveValue("padding-top", 128, 100);
        @include adaptiveValue("padding-bottom", 85, 148);
    }
    &__separator {
        @include adaptiveValue("padding-top", 40, 0);
        @include adaptiveValue("padding-bottom", 53, 0);
        background-image: url("@img/home/divider-image_bg.png");
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 50% 100%;
    }
    &__partners {
        @include adaptiveValue("padding-top", 105, 100);
        @include adaptiveValue("padding-bottom", 135, 100);
    }
    &__benefits {
        background-color: #192227;
        @include adaptiveValue("padding-top", 65, 121);
        @include adaptiveValue("padding-bottom", 65, 196);
    }
    &__download {
        @include adaptiveValue("padding-top", 123, 197);
        padding-bottom: rem(80);
        @media (max-width: $mobileSmall) {
            padding-bottom: rem(89);
        }
        background-color: #0e1314;
    }
    &__about {
        @include adaptiveValue("padding-top", 136, 159);
        @include adaptiveValue("padding-bottom", 100, 303);
        background-image: url("@img/home/section-8_bg.png");
        background-position: right bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #020001;
        @media (max-width: $tablet) {
            background-size: 700px;
        }
        @media (max-width: $mobileSmall) {
            background-size: 500px;
        }
    }
    &__faq {
        @include adaptiveValue("padding-top", 125, 100);
        @include adaptiveValue("padding-bottom", 80, 50);
    }
}
@import "base";
@import "common";
@import "header";
@import "footer";
@import "home";
